h1 {
    display: flex;
    justify-content:center;
    align-items: center;
    color:blueviolet;
}

.container {
    display: flex;
    justify-content:space-around;
    align-items:center;
    background-color: aquamarine ;
}

.image.octocat {
    height: 200px;
}
